
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/myApp.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />

</head>

<body ng-controller="projetosCtrl as ctrl">

    <div class="container">

        <div ng-include="'/PMS/Menus'"> </div>

        <div class="jumbotron">
            <h2>Cadastro de HOME</h2>

          

            <form class="form-horizontal" name="validarCampos">

                <div class="form-group col-md-7">
                    <input type="text" ng-model="ctrl.newData.NomeUsuario" class="form-control" placeholder="Nome" required />
                </div>

                <div class="form-group col-md-7">
                    <input type="text" ng-model="ctrl.newData.Email" class="form-control" placeholder="Nome" required />
                </div>

                <div class="form-group col-md-7">
                    <input type="text" ng-model="ctrl.newData.QtdHorasNominais" class="form-control" placeholder="Nome" required />
                </div>

                <div class="form-group col-md-7">
                    <input type="text" ng-model="ctrl.newData.QtdHorasDisponiveis" class="form-control" placeholder="Nome" required />
                </div>

                <div class="form-group col-md-7" align="center">
                    <button type="button" class="btn btn-primary" ng-show="ctrl.btnAdd" ng-disable="validarCampos.$invalid" ng-click="ctrl.AddUser()">Add</button>
                    <button type="button" class="btn btn-primary" ng-show="ctrl.btnSave" ng-disable="validarCampos.$invalid" ng-hide="ctrl.btnAdd" ng-click="ctrl.AlterUser()">Salvar</button>
                    <button type="button" class="btn btn-primary" ng-click="ctrl.DeleteUser()">Deletar</button>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="text" align="center" ng-model="pesquisa" class="form-control" placeholder="Barra de pesquisa" />

                        </div>
                    </div>

                    <!--botão classificação -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Filtro</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" ng-model="Classificacao">
                            <li><a href="#" ng-click="ctrl.Classificacao = 'Matricula'">Matricula</a></li>
                            <li><a href="#" ng-click="ctrl.Classificacao = 'NomeUsuario'">Nome</a></li>
                            <li><a href="#" ng-click="ctrl.Classificacao = 'Email'">Email</a></li>
                            <li><a href="#" ng-click="ctrl.Classificacao = 'QtdHorasNominais'">Qtd Horas Nominais</a></li>
                            <li><a href="#" ng-click="ctrl.Classificacao = 'QtdHorasDisponiveis'">Qtd Horas Disponiveis</a></li>
                        </ul>
                    </div>


                    <table>
                        <tr>
                            <th>Matricula: </th>
                            <th>Nome: </th>
                            <th>Email: </th>
                            <th>Quantidades de Horas Nominais: </th>
                            <th>Quantidades de Horas Disponíveis: </th>
                        </tr>
                        <tr ng-repeat="x in ctrl.usuarios | filter: pesquisa | orderBy:ctrl.Classificacao" ng-click="ctrl.SelectUser(x)">
                            <td>{{x.Matricula}}</td>
                            <td>{{x.NomeUsuario}}</td>
                            <td>{{x.Email}}</td>
                            <td>{{x.QtdHorasNominais}}</td>
                            <td>{{x.QtdHorasDisponiveis}}</td>
                        </tr>
                    </table>
                        </div>
                    </form>
                    
                    <div class="container">
                        <h2>Modal Example</h2>
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
        </div>
       
    </div>

   
</body>
</html>
