
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/myApp.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/Content/LayoutPMS.css" rel="stylesheet" />

</head>

<body ng-controller="projetosCtrl as ctrl">

    <div class="container">

        <div ng-include="'/PMS/Menus'"> </div>

        <div class="jumbotron">
            <h2>Cadastro de Projetos</h2>
            <form class="form-horizontal" name="validarCampos">

                <div class="form-group col-md-7">
                    <label>Código BR Mania</label>
                    <input type="text" ng-model="ctrl.newData.IdBR" class="form-control" placeholder="Informe o Código BR Mania" required />
                </div>

                <div class="form-group col-md-7">
                    <label>Código Linx</label>
                    <input type="text" ng-model="ctrl.newData.IdLinx" class="form-control" placeholder="Informe o Código Linx" required />
                </div>

                <div class="form-group col-md-7">
                    <label>Título</label>
                    <input type="text" ng-model="ctrl.newData.Nome" class="form-control" placeholder="Informe o Título" required />
                </div>

                <div class="form-group col-md-7">
                    <label>Descrição do projeto</label>
                    <textarea rows="1" cols="50" ng-model="ctrl.newData.Descricao" class="form-control" placeholder="Informe a Descrição do projeto" required></textarea>
                    
                </div>

                <div class="form-group col-md-7">
                    <label>Início Previsto</label>
                    <input type="text" ng-model="ctrl.newData.InicioPrevisto" class="form-control" placeholder="Informe a data de  Início Previsto" required />
                </div>

                <div class="form-group col-md-7">
                    <label>Fim Previsto</label>
                    <input type="text" ng-model="ctrl.newData.FimPrevisto" class="form-control" placeholder="Informe a data de Fim Previsto" required />
                </div>

                <div class="form-group col-md-7">
                    <label>Usuário</label>
                    <input type="text" ng-model="ctrl.newData.IdUsuario" class="form-control" placeholder="Usuário" required />
                </div>

                <div class="form-group col-md-7" align="center">
                    <button type="button" class="btn btn-primary" ng-show="ctrl.btnAdd" ng-disable="validarCampos.$invalid" ng-click="ctrl.AddProjetos()">Adicionar Projeto</button>
                    <button type="button" class="btn btn-primary" ng-show="ctrl.btnSave" ng-disable="validarCampos.$invalid" ng-hide="ctrl.btnAdd" ng-click="ctrl.AlterProjetos()">Salvar</button>
                    <button type="button" ng-hide="edit" class="btn btn-primary" ng-disabled="validarCampos.$invalid" ng-click="ctrl.DelProjetos()">Deletar</button>
                    <button type="button" ng-hide="edit" class="btn btn-primary" ng-disabled="validarCampos.$invalid" data-toggle="modal" data-target="#myModal">Adicionar Ocorrência</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Adicionar Ocorrência</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-md-7" name="validarCampos" id="formOco">
                                        <div class="form-group col-md-7">
                                            <textarea rows="6" cols="70" ng-model="ctrl.newData.DescricaoOcorrencia" name="ocorrencias" form="formOco"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-7" align="center">
                                        <button type="button" class="btn btn-primary" ng-disable="validarCampos.$invalid" ng-click="ctrl.AddOcorrencia()">Adicionar</button>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div> <!-- class="modal-body -->
                            </div> <!-- class="modal-content"> -->
                        </div> <!-- class="modal-dialog" -->
                    </div>





                            <button type="button" ng-hide="edit" class="btn btn-primary" ng-disabled="validarCampos.$invalid" data-toggle="modal" data-target="#myModal2">Visualizar Ocorrências</button>
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="form-group col-md-7">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>Ocorrencia</th>
                                                        <th>Projeto</th>
                                                        <th>Inserção em:</th>
                                                    </tr>
                                                    <tr ng-repeat="x in ctrl.ocorrencias">
                                                        <td>{{x.DescricaoOcorrencia}}</td>
                                                        <td>{{x.IdProjeto}}</td>
                                                        <td>{{x.DataHora}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>  <!-- class="modal-body"> -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div> <!-- class="modal-content"> -->
                                </div> <!-- class="modal-dialog" -->
                            </div> <!-- class="modal fade" -->
                        </div>  <!-- botoes --> 
                    






                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="text" align="center" ng-model="pesquisa" class="form-control" placeholder="Barra de pesquisa" />

                        </div>
                    </div>
                </div>
               
            </form>
     </div>

      


        <div class="panel panel-default">
            <div class="panel-heading">

                Projetos registrados

                <!--barra pesquisa -->
                

                <!--botão classificação -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="button-sorting">Ordenação </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="ctrl.Classificacao = 'Id'">Código</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'IdBR'">Código BR Mania</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'IdLinx'">Código Linx</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'Nome'">Título do Projeto</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'Descricao'">Descrição</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'InicioPrevisto'">Início Previsto</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'FimPrevisto'">Fim Previsto</a></li>
                        <li><a href="#" ng-click="ctrl.Classificacao = 'IdUsuario'">Usuario</a></li>

                    </ul>
                </div>
            </div>

            <!-- registros do panel (buttons)-->
            <div class="panel-body">
                <div class="list-group">
                    <div class="form-group">
                        <div class="jumbotron" id="jumbo-panel">
                            <div ng-repeat="x in ctrl.projetos | filter: pesquisa | orderBy:ctrl.Classificacao" ng-click="ctrl.SelectUser(x)">
                                <div class="form-group">
                                <button type="button" class="btn btn-default btn-lg" id="button-projects"><p id="label-dados-panel">{{x.Nome}}</p>
                                    <!-- dropdown deslize-->
                                    <div id="dropdown-collapse" type="button" class="btn btn-default dropdown-toggle" data-toggle="collapse" data-target="#{{x.Id}}" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </div>
                                </button>
                               </div>

                                <div class="container">
                                    <div id="{{x.Id}}" class="collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item">{{x.Id}}</li>
                                            <li class="list-group-item"><label>{{x.IdBR}}</label></li>
                                            <li class="list-group-item"><label>{{x.IdLinx}}</label></li>
                                            <li class="list-group-item"><label>{{x.Nome}}</label></li>
                                            <li class="list-group-item"><label>{{x.Descricao}}</label></li>
                                            <li class="list-group-item"><label>{{x.InicioPrevisto}}</label></li>
                                            <li class="list-group-item"><label>{{x.FimPrevisto}}</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
            
        

    </div>
</body>
</html>
