
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menus</title>
    <script src="~/Scripts/angular.js"></script>
</head>
<body>
    <div> 
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-brand">                    
                    <a href="#" ><img src="~/Images/Linx.png" height="46" width="70"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="navbar-brand"><a href="/PMS/Index">Home</a></li>
                        <li class="navbar-brand"><a href="/PMS/Projetos">Projetos</a></li>
                        <li class="navbar-brand"><a href="/PMS/Usuarios">Usuários</a></li>
                    </ul>                    
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>
</body>
</html>
