body {
    background-color:#473C8B;
    padding:0px;
   
    
    
}
#button-projects{
    width: 100%;
    margin:0px;
    padding: 0px;
    
    padding-top: 3px;
    padding-bottom:0px;
    

}

#form-group-button-project {
    margin-top:8px;
    margin-bottom:0px;
}


#button-sorting {
     width: 75%;    
}


#label-nome-panel{
    margin:0px;
    padding:0px;
    padding-left:15px;
    padding-top:4px;
    text-align:left;
   
}
#status{
   font-size: 15px;
   text-align:left;
   padding-top:6px;
}
.col-xs-12{
    padding:0px;
}
.container{
    padding-left:0px;
}
/*.container .jumbotron {
    padding-right: 30px;
    padding-left: 15px;
    border-radius: 6px;
}*/
.button-dropdown{
    margin:0px;
    padding:0px;
   padding-bottom:3px;
    text-align:right;
}

.panel-body {
    padding-right:4px;
}

#drowpdown-collapse {
    text-align: right;
    float: right;
}
.panel-default {
    padding:0px;
}

.panel-heading {
    padding: 0px;
}

#jumbo-panel{
     padding:0px;
     padding-left:60px;
     background-color:#FFFFFF;
     border:solid;
     border-width: 0.1em;
     border-color:#8B1A1A;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color:#FFFFFF;
    border:solid;
    border-width: 0.1em;
    border-color:#8B1A1A;
    
    
}


.list-group-item{
    background-color:#FFFFF0;
    margin: 0px;
    padding:8px;
}

.list-group-item-heading{
    font-family: Arial;
    font-size:18px;
    padding-left:0px;
}

.list-group-item clearfix {
    padding:0px;
}


#responsavel{
    width: 100px;
    float: right;
    font-size: 15px;
    margin-right: 10px;
}

.row {
    margin-left:0px;
}
table{
    background-color:#337ab7;
    border-radius: 10px;
    color: white;
}

th{
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

td{
    text-align: center;
}



#showUser {
    width: 150px;
    
}

.input-group {
    
     margin:0px;
     padding:0px;
    
}
#filtro-status {
     width: 100px;
     margin:0px;
      
     float:right;
}



#form-select-group {
    width:150px;
}

#p-selecione {
    color:lightslategrey;
   
}

#div-all-buttons {    
    margin-top:40px;  
    text-align: center;
}

#tittle-form {
    text-align:center;
    
}

#container-projects-panel {
    margin-top:0px;
    padding:0px;
}
.btn-primary {
    background-color: #FFB90F;
    border-color: #FF7F24;
    border-width: 1px;
    color:#473C8B;
    font-weight: bold;
}






.btn-primary:hover {
background-color: #CD950C;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #CD950C;
}


.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #CD950C;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #CD950C;
} 


.modal {
  text-align: center;
  padding:0px;

  
}
@media (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align:middle;
    content: " ";
    height: 60%;
    
  }
}
.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width:600px;
}
.modal-header {
    background-color:#473C8B;
    color:white;
    
}
.modal-title{
    font-weight:bold;
}

.modal-body{
    text-align:left;
    padding:50px;
    padding-top:30px;
    padding-bottom:15px;
}
.textarea-modal{
   
    width:100%;
}
.Titulo-Modal{
    width: 100%;
}
.button-add-ocorrencia-modal{
    margin-top:28px;
    text-align:center;
}